# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/teamhexa2026?schema=public"

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRATION=1h
JWT_REFRESH_SECRET=your-refresh-secret-key
JWT_REFRESH_EXPIRATION=7d

# App
PORT=3000
NODE_ENV=development

# Football API
FOOTBALL_API_KEY=
FOOTBALL_API_URL=https://v3.football.api-sports.io
